body {
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  background-color: lightgray;
}
.head {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  background-color: blue;
  border: none;
  
}
a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}
img {
  width: 50px;
  text-align: center;
  
}
.shipping-info{
  margin-top: 80px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.provide {
  text-align: center;
}
.form {
  border: 2px solid blue;
  border-radius: 20px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  margin-top: 30px;
  position: absolute;
  right: 330px;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
@media(max-width: 360px){
  .form {
    width: 300px;
    position: absolute;
    text-align: center;
    align-items: center;
    right: 30px;
    margin-bottom: 40px;
  }
}
label {
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
}
.second-input  {
  border: 1px solid blue;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  padding-left: 7px;
}
button {
  margin-top: 20px;
  color: white;
  background-color: blue;
  padding: 15px;
  border: none;
  border-radius: 20px;
}
button:active{
  background-color: white; 
  color: blue;
  border: 1px solid blue;
}
.card {
  background-color: #57575F;
  color: white;
  position: fixed;
  left: 100%;
  right: 0px;
  top: 20px;
  height: 100vh;
  width: 500px;
  transition: 0.5s;
}
@media (max-width: 370px){
  .card {
  width: 320px;
  }
}
.active .card {
  left: calc(90% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.mycart {
  font-weight: bold;
  text-align: center;
}
.total-price{
  text-align: center;
  font-weight: bolder;
  position: absolute;
  bottom: 120px;
  left: 30px;
}
.total {
  text-align: center;
  font-weight: bolder;
  position: absolute;
  bottom: 120px;
  left: 120px;
}